{% extends 'base.html.twig' %}

{% block title %}Nouveau Pays{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau pays</h1>

        {{ include('pays/_form.html.twig') }}

        <a href="{{ path('app_pays_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
